{% assign button = include %}
{% assign button = button | hash_default: site.data.types[include.type] %}

{% if button.link or button.icon or button.text %}
  <div class="button-wrapper">
    {% assign link = button.link | default: "#" %}

    {%- comment -%}
    Determine final_link:
    - If starts with '#', use as-is (anchor link)
    - If contains '://', use as-is (external)
    - Otherwise, apply relative_url (internal path)
    {%- endcomment -%}
    {% if link contains '://' or link startswith '#' %}
      {% assign final_link = link %}
    {% else %}
      {% assign final_link = link | replace: '$LINK', link | relative_url %}
    {% endif %}

    <a
      class="button"
      href="{{ final_link }}"
      {% if button.tooltip %}
        data-tooltip="{{ button.tooltip | xml_escape }}"
      {% endif %}
      data-style="{{ include.style }}"
      {% if include.flip %}
        data-flip
      {% endif %}
      aria-label="{{ button.tooltip | default: button.icon | default: "button" | regex_strip }}"
    >
      {% include icon.html icon=button.icon %}
      {% if button.text and button.text != "" %}
        <span>{{ button.text }}</span>
      {% endif %}
    </a>
  </div>
{% endif %}
