{% assign button = include %}
{% assign button = button | hash_default: site.data.types[include.type] %}

{% if button.link or button.icon or button.text %}
  <div class="button-wrapper">
    <a
      {% assign link = button.link | default: "#" %}
      {% if link startwith '#' %}
        {% assign final_link = link %}
      {elseif link contains '://' %}
        {% assign final_link = link %}
      {% else %}
        {% assign final_link | replace: '$link', link | relative_url %}
      {% endif %}
      class="button"
      href="{{ final_link}}"
      {% if button.tooltip %}
        data-tooltip="{{ button.tooltip | xml_escape }}"
      {% endif %}
      data-style="{{ include.style }}"
      {% if include.flip %}
        data-flip
      {% endif %}
      aria-label="{{ button.tooltip | default: button.icon | default: "button" | regex_strip }}"
    >
      {% include icon.html icon=button.icon %}
      {% if button.text and button.text != "" %}
        <span>{{ button.text }}</span>
      {% endif %}
    </a>
  </div>
{% endif %}
